*{
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
}
html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
    .p1back img{
    	width: 200% !important;
    }
    .footer{
    	width: 300px !important;
    }
    .footer img{
    	width: 80px !important;
    }
    .mee #p4mee{
    	transform:translateY(-1200px);
    }
}
body{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
section{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
}
.a_onload{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #8cbfee;
	z-index: 999;
	padding-top: 3rem;
	transition:opacity 1s ease-in-out;
}
.loading{
	border:solid .5rem #FFF;
	width: 1rem;
	height: 1rem;
	margin: 4rem auto;
	border-left-color: transparent;
	border-right-color: transparent; 
	padding: 2rem;
	border-radius: 50%;
	background-clip: content-box;
	animation: loading 1.5s ease-in-out infinite;
}
.a_onload p{
	font-size: 0.8rem;
	width: 12rem;
	margin: 0 auto;
	color: #FFF;
}
#svgcontent{
	position: absolute;
	z-index: 100;
}
.footer{
	margin: 0 auto;
	width: 150px;
	font-size: 0.6rem;
	color: #FFF;
}
.footer img{
	width: 50px;
	display: inline;
}
#arr{
	width: 40px;
	display: block;
	margin: 0 auto;
}
.arr{
	width: 100%;
	position: absolute;
	bottom: 30px;
}
.content{
	position: relative;
	height: 100%;
	/*transform: translateY(0%);*/
	/*top: 0px;*/
}
.part1{
	background: #c4e5ee;
/*	background-image: url('../images/picbac.png') no-repeat;*/
}
.part2{
	background: #eeeeee;
/*	background-image: url('../images/picbac.png') no-repeat;*/
	/*background-size:100%;*/
}
/*#p2bac{
	bottom: -20px;
}
*/
.part3{
	background: #6cb2b0;
}
.part4{
	/*width: 100%;*/
	background: #bfe8d7;
	/*background-image: url('../images/picbac.png') no-repeat;*/
	/*background-size:320px;*/
}
.part_bac{
	width: 100%;
	position: absolute;
	bottom: -20px;
}
.part5{
	background: #384e66;
}
.trsy0{
	transform: translateY(0%);
}
.trsy1{
	transform: translateY(-100%);
}
.trsy2{
	transform: translateY(-200%);
}
.trsy3{
	transform: translateY(-300%);
}
.trsy4{
	transform: translateY(-400%);
}
.contain_t{
	transition:transform 1s ease-in-out;
}
.cloud{
	/*height: 100%;*/
}
.delay5{
	animation-delay:.5s;
}
.delay3{
	animation-delay:.3s;
}
.delay10{
	animation-delay:1s;
}
.delay15{
	animation-delay:1.5s;
}
.delay20{
	animation-delay:2s;
}

#c1{
	position: absolute;
	left: 20%;
	width: 40px;
	top: 30%;
	height: 15px;
}
#c2{
	position: absolute;
	right: 20%;
	width: 70px;
	top: 20%;
	height: 26px;
}
#c3{
	position: absolute;
	left: 0;
	width: 70px;
	top: 25%;
}
#c4{
	position: absolute;
	right: 20%;
	width: 30px;
	top: 20%;
}
#c5{
	position: absolute;
	right: 30%;
	width: 60px;
	top: 15%;
}
#c6{
	position: absolute;
	right: 10%;
	width: 40px;
	top: 32%;
}

#c7{
	position: absolute;
	right: 20%;
	width: 70px;
	top: 30%;
}

#c8{
	position: absolute;
	left: 0;
	width: 60px;
	top: 25%;
}

#c9{
	position: absolute;
	left: 15%;
	width: 40px;
	top: 32%;
}
#c10{
	position: absolute;
	right: 10%;
	width: 70px;
	top: 5%;
}
#c11{
	position: absolute;
	right: 30%;
	width: 50px;
	top: 10%;
}
#c12{
	position: absolute;
	right: 40%;
	width: 50px;
	top: 25%;
}
#pilogo_con{
	position: absolute;
	width: 100%;
	top: 20%;
	z-index: 100;
}
#p1logo{
	display: block;
	width: 138px;
	margin: 0 auto;
}
#pibee_con{
	position: absolute;
	width: 100%;
	top: 40%;
}
#p1bee{
	display: block;
	width: 125px;
	margin: 0 auto;
}
#pibee2_con{
	position: absolute;
	width: 100%;
	bottom: 315px;
	left: 15%;
}
#p1bee2{
	position: absolute;
	width: 88px;
	left: -300px;
}
#p2b1{
	position: absolute;
	width: 86px;
	top: 150px;
	left: 100px;
}
#p2b2{
	position: absolute;
	width: 118px;
	top: 180px;
}
.p3bac{
	height: 100%;
	margin-top: 30%;
	background: #a3d5cc url('../images/p3bac.png') no-repeat left top;
	background-size:100%;
}
.island{
	position: absolute;
	width: 100%;
	height: 60%;
	bottom: -20px;
}
.he{
	position: absolute;
	bottom: -80px;
	width: 130%;
	left: -10%;
}
#he2{
	bottom: -55px;
	left: -10%;
}
#shan{
	position: absolute;
	width: 270px;
	bottom: 55px;
	left: -10px;
}
#p3bee{
	position: absolute;
	width: 120px;
	bottom: 155px;
	left: 45px;
}
#p3p2{
	bottom: 95px;
	right: 45px;
}
#p3p1{
	bottom: 105px;
	right: 20px;
	transform:rotate(-90deg);
}
#p3isl{
	position: absolute;
	width: 100%;
	bottom: 0px;
}
.ping{
	position: absolute;
	width: 40px;
	height: 34px;
}
#p4sun{
	width: 68px;
	position: absolute;
	right: 10%;
	top: 20%;
}
.mee{
	position: absolute;
	right: 50%;
	bottom: 220px;
}
#p4mee{
	width: 114px;
	position: absolute;
	top: 65px;
	transform:translateY(-600px);
}
#p4no{
	width: 63px;
	position: absolute;
	top:0;
	left: 40px;
	opacity: 0;
}
#p5bac{
	bottom: -90px;
}
.p5contain{
	position: relative;
	margin: 10px auto;
	z-index: 10;
	width: 200px;
}
#p5roc{
	width: 74px;
	margin-left: 80px;
}
#bee5{
	width: 198px;
	opacity: 0;
}
.zhangzi{
	position: absolute;
	width:110px;
	opacity: 0;
}
#qiuxian{
	top: 70%;
	right: 20%;
}
#bamian{
	top: 80%;
	right: 10%;
}
#lixian{
	top: 75%;
	left: 10%;
}
#yueren{
	top: 70%;
	right: 10%;
}
#yihu{
	top: 75%;
	left: 10%;
}
.a_cloud{
	animation-duration: 4s;
	animation-name: cloud;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	/*animation:cloud 2.5s ease-in-out infinite;*/
}
.a_cloudm{
	animation:cloudm 20s ease-in-out infinite;
}

.a_bee{
	animation:bee 1.5s ease-in-out infinite;
}
.a_river{
	animation:river 3s ease-in-out infinite;
}
.a_river2{
	animation:river 3s ease-in-out 1.5s infinite;
}
.a_p1bac2{
	animation:p1bac2 25s linear infinite;
}
.a_arr{
	animation:arrd 1s ease-in-out infinite;
	animation-direction: alternate;
}
.a_fall{
	animation:fall 1s ease 1.2s;
	animation-fill-mode:forwards;
	/*animation-delay:1s;*/
}
.a_huojian{
	animation:huojian 1.6s cubic-bezier(.96,.03,.81,.31) 2.4s;
	animation-fill-mode:forwards;
	/*animation-delay:1s;*/
}
.a_chuxian{
	animation:cuxian .6s ease-in-out 2.4s;
	animation-fill-mode:forwards;
}
.a_beechuxian1{
	animation:beechuxian 1.2s ease-in-out 1.2s;
	animation-fill-mode:forwards;
	transform-origin:50% 100%;
}
.a_bee_in{
	animation:beein 2s ease-in-out;
	animation-fill-mode:forwards;
}
.a_zhangzi2{
	animation:zhangzi .6s cubic-bezier(.76,.28,.83,.35) 1.7s;
	animation-fill-mode:forwards;
}
.a_zhangzi1{
	animation:zhangzi .6s cubic-bezier(.76,.28,.83,.35) 1.2s;
	animation-fill-mode:forwards;
}
.a_znyx{
	animation:znyx .2s ease-in-out 1.2s;
	/*animation-iteration-count:2;*/
}
.fall{
	transform:translateY(-600px);
}
.a_word_in{
	animation:wordin 1.2s ease-in-out;
	animation-fill-mode:forwards;
}
.a_word_out{
	animation:wordout 1.2s ease-in-out;
	animation-fill-mode:forwards;
}
.a_loading{
	animation:bacloading 1s ease-in-out;
	animation-fill-mode:forwards;
}
.p1back{
	position: absolute;
	width: 100%;
	height: 100%;
}
.p1back img{
	position: absolute;
	width: 720px;
	bottom: 0;
}
.dpnone{
	display: none;
}
.word {
	position: absolute;
	z-index: 100;
	top: 8%;
	width: 300px;
	margin: 0 auto;
	left: 10%;
}
.word div{
	position: absolute;
	width: 100%;
	font-size: 1rem;
	opacity: 0;
}
.word strong,.word .str,.word .num{
	font-size: 1.2rem;
	font-weight: normal;
}
.word_p1{
	color: #58752a;
}
.word_p1 .word_date,.word_p1 .num,.word_p1 .str{
	color: #cc6603;
}
.word_p2{
	color: #fff3d9;
}
.word_p2 .word_date,.word_p2 .num,.word_p2 .str{
	color: #236881;
}

.word_p3{
	color: #407b62;
}
.word_p3 .word_date,.word_p3 .num,.word_p3 .str{
	color: #c37c47;
}

@keyframes cloudm {
	0%{transform:translateX(320px);}
	/*50%{transform:translateX(20px);}*/
	100%{transform:translateX(-320px);}
}
@keyframes cloud {
	0%{transform:translateX(0);}
	50%{transform:translateX(30px);}
	100%{transform:translateX(0);}
}
@keyframes bee {
	0%{transform:translateY(0);left: 0;}
	50%{transform:translateY(30px);}
	100%{transform:translateY(0);left: 0;}
}
@keyframes p1bac2 {
	0%{transform:translateX(0);}
	100%{transform:translateX(-320px);}
}
@keyframes fall {
	0%{transform:translateY(-600px);}
	100%{transform:translateY(0);}
}
@keyframes beein {
	0%{transform:translateX(0);}
	100%{transform:translateX(300px);}
}
@keyframes river {
	0%{transform:translate(0,0);}
	50%{transform:translate(-20px,-10px);}
	100%{transform:translate(0,0);}
}
@keyframes cuxian {
	0%{transform:scale(0);opacity: 1;}
	80%{transform:scale(1.2);}
	100%{transform:scale(1);opacity: 1;}
}
@keyframes beechuxian {
	0%{transform:scale(0);opacity: 1;}
	30%{transform:scale(1.2);}
	40%{transform:scale(1);opacity: 1;}
	60%{transform:scale(1);opacity: 1;}
	70%{transform:scale(1.2);}
	100%{transform:scale(0);opacity: 0;}
}
@keyframes huojian {
	0%{transform:translate(0,0);}
	100%{transform:translate(100px,-600px);}
}
@keyframes znyx {
	0%{transform:translate(0,0);}
	50%{transform:translate(5px,5px);}
	100%{transform:translate(0,0);}
}
@keyframes wordin {
	0%{transform:translateY(20px);opacity: 0;}
	100%{transform:translateY(-5px);opacity: 1;}
}
@keyframes wordout {
	0%{transform:translateY(-5px);opacity: 1;}
	100%{transform:translateY(-20px);opacity: 0;}
}
@keyframes arrd {
	0%{transform:translateY(-10px);opacity: 1;}
	100%{transform:translateY(10px);opacity: .4;}
}
@keyframes zhangzi {
	0%{transform:scale(4);opacity: .4;}
	100%{transform:scale(1);opacity: 1;}
}
@keyframes bacloading {
	0%{opacity: 1;}
	100%{opacity: 0;display: none;}
}
@keyframes loading {
	0%{transform:rotate(0deg);}
	100%{transform:rotate(180deg);}
}





























































