*{
	padding: 0;
	margin: 0;
}
html{
	font-size: 10px;
}
body{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
section{
	width: 100%;
	height: 100%;
}
.part1{
	background: #AAA;
}
.part2{
	background: #BBB;
}
.part3{
	background: #CCC;
}
.part4{
	background: #DDD;
}
.part5{
	background: #EEE;
}
::-webkit-input-placeholder{
	color:#CCC;
}
:-moz-placeholder{
	color:#CCC;
}
::-moz-placeholder{
	color:#CCC;
}
:-ms-input-placeholder{
	color:#CCC;
}
::placeholder{
	color:#CCC;
}