*{
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
}
html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
    .p1back img{
    	width: 200% !important;
    }
    .footer{
    	width: 300px !important;
    }
    .footer img{
    	width: 80px !important;
    }
    .mee #p4mee{
    	-webkit-transform:translateY(-1200px);
    	   -moz-transform:translateY(-1200px);
    	    -ms-transform:translateY(-1200px);
    	     -o-transform:translateY(-1200px);
    	        transform:translateY(-1200px);
    }
}
body{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
section{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
}
.a_onload{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #8cbfee;
	z-index: 999;
	padding-top: 3rem;
	-webkit-transition:opacity 1s ease-in-out;
	   -moz-transition:opacity 1s ease-in-out;
	     -o-transition:opacity 1s ease-in-out;
	        transition:opacity 1s ease-in-out;
}
.loading{
	border:solid .5rem #FFF;
	width: 1rem;
	height: 1rem;
	margin: 4rem auto;
	border-left-color: transparent;
	border-right-color: transparent; 
	padding: 2rem;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	-webkit-background-clip: content-box;
	   -moz-background-clip: content-box;
	     -o-background-clip: content-box;
	        background-clip: content-box;
	-webkit-animation: loading 1.5s ease-in-out infinite;
	   -moz-animation: loading 1.5s ease-in-out infinite;
	     -o-animation: loading 1.5s ease-in-out infinite;
	        animation: loading 1.5s ease-in-out infinite;
}
.a_onload p{
	font-size: 0.8rem;
	width: 12rem;
	margin: 0 auto;
	color: #FFF;
}
#svgcontent{
	position: absolute;
	z-index: 100;
}
.footer{
	margin: 0 auto;
	width: 150px;
	font-size: 0.6rem;
	color: #FFF;
}
.footer img{
	width: 50px;
	display: inline;
}
#arr{
	width: 40px;
	display: block;
	margin: 0 auto;
}
.arr{
	width: 100%;
	position: absolute;
	bottom: 30px;
}
.content{
	position: relative;
	height: 100%;
	/*transform: translateY(0%);*/
	/*top: 0px;*/
}
.part1{
	background: #c4e5ee;
/*	background-image: url('../images/picbac.png') no-repeat;*/
}
.part2{
	background: #eeeeee;
/*	background-image: url('../images/picbac.png') no-repeat;*/
	/*background-size:100%;*/
}
/*#p2bac{
	bottom: -20px;
}
*/
.part3{
	background: #6cb2b0;
}
.part4{
	/*width: 100%;*/
	background: #bfe8d7;
	/*background-image: url('../images/picbac.png') no-repeat;*/
	/*background-size:320px;*/
}
.part_bac{
	width: 100%;
	position: absolute;
	bottom: -20px;
}
.part5{
	background: #384e66;
}
.trsy0{
	-webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	     -o-transform: translateY(0%);
	        transform: translateY(0%);
}
.trsy1{
	-webkit-transform: translateY(-100%);
	   -moz-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	     -o-transform: translateY(-100%);
	        transform: translateY(-100%);
}
.trsy2{
	-webkit-transform: translateY(-200%);
	   -moz-transform: translateY(-200%);
	    -ms-transform: translateY(-200%);
	     -o-transform: translateY(-200%);
	        transform: translateY(-200%);
}
.trsy3{
	-webkit-transform: translateY(-300%);
	   -moz-transform: translateY(-300%);
	    -ms-transform: translateY(-300%);
	     -o-transform: translateY(-300%);
	        transform: translateY(-300%);
}
.trsy4{
	-webkit-transform: translateY(-400%);
	   -moz-transform: translateY(-400%);
	    -ms-transform: translateY(-400%);
	     -o-transform: translateY(-400%);
	        transform: translateY(-400%);
}
.contain_t{
	-webkit-transition:-webkit-transform 1s ease-in-out;
	   -moz-transition:-moz-transform 1s ease-in-out;
	     -o-transition:-o-transform 1s ease-in-out;
	        transition:transform 1s ease-in-out;
}
.cloud{
	/*height: 100%;*/
}
.delay5{
	-webkit-animation-delay:.5s;
	   -moz-animation-delay:.5s;
	     -o-animation-delay:.5s;
	        animation-delay:.5s;
}
.delay3{
	-webkit-animation-delay:.3s;
	   -moz-animation-delay:.3s;
	     -o-animation-delay:.3s;
	        animation-delay:.3s;
}
.delay10{
	-webkit-animation-delay:1s;
	   -moz-animation-delay:1s;
	     -o-animation-delay:1s;
	        animation-delay:1s;
}
.delay15{
	-webkit-animation-delay:1.5s;
	   -moz-animation-delay:1.5s;
	     -o-animation-delay:1.5s;
	        animation-delay:1.5s;
}
.delay20{
	-webkit-animation-delay:2s;
	   -moz-animation-delay:2s;
	     -o-animation-delay:2s;
	        animation-delay:2s;
}

#c1{
	position: absolute;
	left: 20%;
	width: 40px;
	top: 30%;
	height: 15px;
}
#c2{
	position: absolute;
	right: 20%;
	width: 70px;
	top: 20%;
	height: 26px;
}
#c3{
	position: absolute;
	left: 0;
	width: 70px;
	top: 25%;
}
#c4{
	position: absolute;
	right: 20%;
	width: 30px;
	top: 20%;
}
#c5{
	position: absolute;
	right: 30%;
	width: 60px;
	top: 15%;
}
#c6{
	position: absolute;
	right: 10%;
	width: 40px;
	top: 32%;
}

#c7{
	position: absolute;
	right: 20%;
	width: 70px;
	top: 30%;
}

#c8{
	position: absolute;
	left: 0;
	width: 60px;
	top: 25%;
}

#c9{
	position: absolute;
	left: 15%;
	width: 40px;
	top: 32%;
}
#c10{
	position: absolute;
	right: 10%;
	width: 70px;
	top: 5%;
}
#c11{
	position: absolute;
	right: 30%;
	width: 50px;
	top: 10%;
}
#c12{
	position: absolute;
	right: 40%;
	width: 50px;
	top: 25%;
}
#pilogo_con{
	position: absolute;
	width: 100%;
	top: 20%;
	z-index: 100;
}
#p1logo{
	display: block;
	width: 138px;
	margin: 0 auto;
}
#pibee_con{
	position: absolute;
	width: 100%;
	top: 40%;
}
#p1bee{
	display: block;
	width: 125px;
	margin: 0 auto;
}
#pibee2_con{
	position: absolute;
	width: 100%;
	bottom: 315px;
	left: 15%;
}
#p1bee2{
	position: absolute;
	width: 88px;
	left: -300px;
}
#p2b1{
	position: absolute;
	width: 86px;
	top: 150px;
	left: 100px;
}
#p2b2{
	position: absolute;
	width: 118px;
	top: 180px;
}
.p3bac{
	height: 100%;
	margin-top: 30%;
	background: #a3d5cc url('../images/p3bac.png') no-repeat left top;
	-webkit-background-size:100% 100%;
	   -moz-background-size:100%;
	     -o-background-size:100%;
	        background-size:100%;
}
.island{
	position: absolute;
	width: 100%;
	height: 60%;
	bottom: -20px;
}
.he{
	position: absolute;
	bottom: -80px;
	width: 130%;
	left: -10%;
}
#he2{
	bottom: -55px;
	left: -10%;
}
#shan{
	position: absolute;
	width: 270px;
	bottom: 55px;
	left: -10px;
}
#p3bee{
	position: absolute;
	width: 120px;
	bottom: 155px;
	left: 45px;
}
#p3p2{
	bottom: 95px;
	right: 45px;
}
#p3p1{
	bottom: 105px;
	right: 20px;
	-webkit-transform:rotate(-90deg);
	   -moz-transform:rotate(-90deg);
	    -ms-transform:rotate(-90deg);
	     -o-transform:rotate(-90deg);
	        transform:rotate(-90deg);
}
#p3isl{
	position: absolute;
	width: 100%;
	bottom: 0px;
}
.ping{
	position: absolute;
	width: 40px;
	height: 34px;
}
#p4sun{
	width: 68px;
	position: absolute;
	right: 10%;
	top: 20%;
}
.mee{
	position: absolute;
	right: 50%;
	bottom: 220px;
}
#p4mee{
	width: 114px;
	position: absolute;
	top: 65px;
	-webkit-transform:translateY(-600px);
	   -moz-transform:translateY(-600px);
	    -ms-transform:translateY(-600px);
	     -o-transform:translateY(-600px);
	        transform:translateY(-600px);
}
#p4no{
	width: 63px;
	position: absolute;
	top:0;
	left: 40px;
	opacity: 0;
}
#p5bac{
	bottom: -90px;
}
.p5contain{
	position: relative;
	margin: 10px auto;
	z-index: 10;
	width: 200px;
}
#p5roc{
	width: 74px;
	margin-left: 80px;
}
#bee5{
	width: 198px;
	opacity: 0;
}
.zhangzi{
	position: absolute;
	width:110px;
	opacity: 0;
}
#qiuxian{
	top: 70%;
	right: 20%;
}
#bamian{
	top: 80%;
	right: 10%;
}
#lixian{
	top: 75%;
	left: 10%;
}
#yueren{
	top: 70%;
	right: 10%;
}
#yihu{
	top: 75%;
	left: 10%;
}
.a_cloud{
	-webkit-animation-duration: 4s;
	   -moz-animation-duration: 4s;
	     -o-animation-duration: 4s;
	        animation-duration: 4s;
	-webkit-animation-name: cloud;
	   -moz-animation-name: cloud;
	     -o-animation-name: cloud;
	        animation-name: cloud;
	-webkit-animation-timing-function: ease-in-out;
	   -moz-animation-timing-function: ease-in-out;
	     -o-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count:infinite;
	   -moz-animation-iteration-count:infinite;
	     -o-animation-iteration-count:infinite;
	        animation-iteration-count:infinite;
	/*animation:cloud 2.5s ease-in-out infinite;*/
}
.a_cloudm{
	-webkit-animation:cloudm 20s ease-in-out infinite;
	   -moz-animation:cloudm 20s ease-in-out infinite;
	     -o-animation:cloudm 20s ease-in-out infinite;
	        animation:cloudm 20s ease-in-out infinite;
}

.a_bee{
	-webkit-animation:bee 1.5s ease-in-out infinite;
	   -moz-animation:bee 1.5s ease-in-out infinite;
	     -o-animation:bee 1.5s ease-in-out infinite;
	        animation:bee 1.5s ease-in-out infinite;
}
.a_river{
	-webkit-animation:river 3s ease-in-out infinite;
	   -moz-animation:river 3s ease-in-out infinite;
	     -o-animation:river 3s ease-in-out infinite;
	        animation:river 3s ease-in-out infinite;
}
.a_river2{
	-webkit-animation:river 3s ease-in-out 1.5s infinite;
	   -moz-animation:river 3s ease-in-out 1.5s infinite;
	     -o-animation:river 3s ease-in-out 1.5s infinite;
	        animation:river 3s ease-in-out 1.5s infinite;
}
.a_p1bac2{
	-webkit-animation:p1bac2 25s linear infinite;
	   -moz-animation:p1bac2 25s linear infinite;
	     -o-animation:p1bac2 25s linear infinite;
	        animation:p1bac2 25s linear infinite;
}
.a_arr{
	-webkit-animation:arrd 1s ease-in-out infinite;
	   -moz-animation:arrd 1s ease-in-out infinite;
	     -o-animation:arrd 1s ease-in-out infinite;
	        animation:arrd 1s ease-in-out infinite;
	-webkit-animation-direction: alternate;
	   -moz-animation-direction: alternate;
	     -o-animation-direction: alternate;
	        animation-direction: alternate;
}
.a_fall{
	-webkit-animation:fall 1s ease 1.2s;
	   -moz-animation:fall 1s ease 1.2s;
	     -o-animation:fall 1s ease 1.2s;
	        animation:fall 1s ease 1.2s;
	-webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	     -o-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
	/*animation-delay:1s;*/
}
.a_huojian{
	-webkit-animation:huojian 1.6s cubic-bezier(.96,.03,.81,.31) 2.4s;
	   -moz-animation:huojian 1.6s cubic-bezier(.96,.03,.81,.31) 2.4s;
	     -o-animation:huojian 1.6s cubic-bezier(.96,.03,.81,.31) 2.4s;
	        animation:huojian 1.6s cubic-bezier(.96,.03,.81,.31) 2.4s;
	-webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	     -o-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
	/*animation-delay:1s;*/
}
.a_chuxian{
	-webkit-animation:cuxian .6s ease-in-out 2.4s;
	   -moz-animation:cuxian .6s ease-in-out 2.4s;
	     -o-animation:cuxian .6s ease-in-out 2.4s;
	        animation:cuxian .6s ease-in-out 2.4s;
	-webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	     -o-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
}
.a_beechuxian1{
	-webkit-animation:beechuxian 1.2s ease-in-out 1.2s;
	   -moz-animation:beechuxian 1.2s ease-in-out 1.2s;
	     -o-animation:beechuxian 1.2s ease-in-out 1.2s;
	        animation:beechuxian 1.2s ease-in-out 1.2s;
	-webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	     -o-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
	-webkit-transform-origin:50% 100%;
	   -moz-transform-origin:50% 100%;
	    -ms-transform-origin:50% 100%;
	     -o-transform-origin:50% 100%;
	        transform-origin:50% 100%;
}
.a_bee_in{
	-webkit-animation:beein 2s ease-in-out;
	   -moz-animation:beein 2s ease-in-out;
	     -o-animation:beein 2s ease-in-out;
	        animation:beein 2s ease-in-out;
	-webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	     -o-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
}
.a_zhangzi2{
	-webkit-animation:zhangzi .6s cubic-bezier(.76,.28,.83,.35) 1.7s;
	   -moz-animation:zhangzi .6s cubic-bezier(.76,.28,.83,.35) 1.7s;
	     -o-animation:zhangzi .6s cubic-bezier(.76,.28,.83,.35) 1.7s;
	        animation:zhangzi .6s cubic-bezier(.76,.28,.83,.35) 1.7s;
	-webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	     -o-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
}
.a_zhangzi1{
	-webkit-animation:zhangzi .6s cubic-bezier(.76,.28,.83,.35) 1.2s;
	   -moz-animation:zhangzi .6s cubic-bezier(.76,.28,.83,.35) 1.2s;
	     -o-animation:zhangzi .6s cubic-bezier(.76,.28,.83,.35) 1.2s;
	        animation:zhangzi .6s cubic-bezier(.76,.28,.83,.35) 1.2s;
	-webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	     -o-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
}
.a_znyx{
	-webkit-animation:znyx .2s ease-in-out 1.2s;
	   -moz-animation:znyx .2s ease-in-out 1.2s;
	     -o-animation:znyx .2s ease-in-out 1.2s;
	        animation:znyx .2s ease-in-out 1.2s;
	/*animation-iteration-count:2;*/
}
.fall{
	-webkit-transform:translateY(-600px);
	   -moz-transform:translateY(-600px);
	    -ms-transform:translateY(-600px);
	     -o-transform:translateY(-600px);
	        transform:translateY(-600px);
}
.a_word_in{
	-webkit-animation:wordin 1.2s ease-in-out;
	   -moz-animation:wordin 1.2s ease-in-out;
	     -o-animation:wordin 1.2s ease-in-out;
	        animation:wordin 1.2s ease-in-out;
	-webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	     -o-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
}
.a_word_out{
	-webkit-animation:wordout 1.2s ease-in-out;
	   -moz-animation:wordout 1.2s ease-in-out;
	     -o-animation:wordout 1.2s ease-in-out;
	        animation:wordout 1.2s ease-in-out;
	-webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	     -o-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
}
.a_loading{
	-webkit-animation:bacloading 1s ease-in-out;
	   -moz-animation:bacloading 1s ease-in-out;
	     -o-animation:bacloading 1s ease-in-out;
	        animation:bacloading 1s ease-in-out;
	-webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	     -o-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
}
.p1back{
	position: absolute;
	width: 100%;
	height: 100%;
}
.p1back img{
	position: absolute;
	width: 720px;
	bottom: 0;
}
.dpnone{
	display: none;
}
.word {
	position: absolute;
	z-index: 100;
	top: 8%;
	width: 300px;
	margin: 0 auto;
	left: 10%;
}
.word div{
	position: absolute;
	width: 100%;
	font-size: 1rem;
	opacity: 0;
}
.word strong,.word .str,.word .num{
	font-size: 1.2rem;
	font-weight: normal;
}
.word_p1{
	color: #58752a;
}
.word_p1 .word_date,.word_p1 .num,.word_p1 .str{
	color: #cc6603;
}
.word_p2{
	color: #fff3d9;
}
.word_p2 .word_date,.word_p2 .num,.word_p2 .str{
	color: #236881;
}

.word_p3{
	color: #407b62;
}
.word_p3 .word_date,.word_p3 .num,.word_p3 .str{
	color: #c37c47;
}

@-webkit-keyframes cloudm {
	0%{-webkit-transform:translateX(320px);transform:translateX(320px);}
	/*50%{transform:translateX(20px);}*/
	100%{-webkit-transform:translateX(-320px);transform:translateX(-320px);}
}

@-moz-keyframes cloudm {
	0%{-moz-transform:translateX(320px);transform:translateX(320px);}
	/*50%{transform:translateX(20px);}*/
	100%{-moz-transform:translateX(-320px);transform:translateX(-320px);}
}

@-o-keyframes cloudm {
	0%{-o-transform:translateX(320px);transform:translateX(320px);}
	/*50%{transform:translateX(20px);}*/
	100%{-o-transform:translateX(-320px);transform:translateX(-320px);}
}

@keyframes cloudm {
	0%{-webkit-transform:translateX(320px);-moz-transform:translateX(320px);-o-transform:translateX(320px);transform:translateX(320px);}
	/*50%{transform:translateX(20px);}*/
	100%{-webkit-transform:translateX(-320px);-moz-transform:translateX(-320px);-o-transform:translateX(-320px);transform:translateX(-320px);}
}
@-webkit-keyframes cloud {
	0%{-webkit-transform:translateX(0);transform:translateX(0);}
	50%{-webkit-transform:translateX(30px);transform:translateX(30px);}
	100%{-webkit-transform:translateX(0);transform:translateX(0);}
}
@-moz-keyframes cloud {
	0%{-moz-transform:translateX(0);transform:translateX(0);}
	50%{-moz-transform:translateX(30px);transform:translateX(30px);}
	100%{-moz-transform:translateX(0);transform:translateX(0);}
}
@-o-keyframes cloud {
	0%{-o-transform:translateX(0);transform:translateX(0);}
	50%{-o-transform:translateX(30px);transform:translateX(30px);}
	100%{-o-transform:translateX(0);transform:translateX(0);}
}
@keyframes cloud {
	0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);}
	50%{-webkit-transform:translateX(30px);-moz-transform:translateX(30px);-o-transform:translateX(30px);transform:translateX(30px);}
	100%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);}
}
@-webkit-keyframes bee {
	0%{-webkit-transform:translateY(0);transform:translateY(0);left: 0;}
	50%{-webkit-transform:translateY(30px);transform:translateY(30px);}
	100%{-webkit-transform:translateY(0);transform:translateY(0);left: 0;}
}
@-moz-keyframes bee {
	0%{-moz-transform:translateY(0);transform:translateY(0);left: 0;}
	50%{-moz-transform:translateY(30px);transform:translateY(30px);}
	100%{-moz-transform:translateY(0);transform:translateY(0);left: 0;}
}
@-o-keyframes bee {
	0%{-o-transform:translateY(0);transform:translateY(0);left: 0;}
	50%{-o-transform:translateY(30px);transform:translateY(30px);}
	100%{-o-transform:translateY(0);transform:translateY(0);left: 0;}
}
@keyframes bee {
	0%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);left: 0;}
	50%{-webkit-transform:translateY(30px);-moz-transform:translateY(30px);-o-transform:translateY(30px);transform:translateY(30px);}
	100%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);left: 0;}
}
@-webkit-keyframes p1bac2 {
	0%{-webkit-transform:translateX(0);transform:translateX(0);}
	100%{-webkit-transform:translateX(-320px);transform:translateX(-320px);}
}
@-moz-keyframes p1bac2 {
	0%{-moz-transform:translateX(0);transform:translateX(0);}
	100%{-moz-transform:translateX(-320px);transform:translateX(-320px);}
}
@-o-keyframes p1bac2 {
	0%{-o-transform:translateX(0);transform:translateX(0);}
	100%{-o-transform:translateX(-320px);transform:translateX(-320px);}
}
@keyframes p1bac2 {
	0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);}
	100%{-webkit-transform:translateX(-320px);-moz-transform:translateX(-320px);-o-transform:translateX(-320px);transform:translateX(-320px);}
}
@-webkit-keyframes fall {
	0%{-webkit-transform:translateY(-600px);transform:translateY(-600px);}
	100%{-webkit-transform:translateY(0);transform:translateY(0);}
}
@-moz-keyframes fall {
	0%{-moz-transform:translateY(-600px);transform:translateY(-600px);}
	100%{-moz-transform:translateY(0);transform:translateY(0);}
}
@-o-keyframes fall {
	0%{-o-transform:translateY(-600px);transform:translateY(-600px);}
	100%{-o-transform:translateY(0);transform:translateY(0);}
}
@keyframes fall {
	0%{-webkit-transform:translateY(-600px);-moz-transform:translateY(-600px);-o-transform:translateY(-600px);transform:translateY(-600px);}
	100%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);}
}
@-webkit-keyframes beein {
	0%{-webkit-transform:translateX(0);transform:translateX(0);}
	100%{-webkit-transform:translateX(300px);transform:translateX(300px);}
}
@-moz-keyframes beein {
	0%{-moz-transform:translateX(0);transform:translateX(0);}
	100%{-moz-transform:translateX(300px);transform:translateX(300px);}
}
@-o-keyframes beein {
	0%{-o-transform:translateX(0);transform:translateX(0);}
	100%{-o-transform:translateX(300px);transform:translateX(300px);}
}
@keyframes beein {
	0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);}
	100%{-webkit-transform:translateX(300px);-moz-transform:translateX(300px);-o-transform:translateX(300px);transform:translateX(300px);}
}
@-webkit-keyframes river {
	0%{-webkit-transform:translate(0,0);transform:translate(0,0);}
	50%{-webkit-transform:translate(-20px,-10px);transform:translate(-20px,-10px);}
	100%{-webkit-transform:translate(0,0);transform:translate(0,0);}
}
@-moz-keyframes river {
	0%{-moz-transform:translate(0,0);transform:translate(0,0);}
	50%{-moz-transform:translate(-20px,-10px);transform:translate(-20px,-10px);}
	100%{-moz-transform:translate(0,0);transform:translate(0,0);}
}
@-o-keyframes river {
	0%{-o-transform:translate(0,0);transform:translate(0,0);}
	50%{-o-transform:translate(-20px,-10px);transform:translate(-20px,-10px);}
	100%{-o-transform:translate(0,0);transform:translate(0,0);}
}
@keyframes river {
	0%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);}
	50%{-webkit-transform:translate(-20px,-10px);-moz-transform:translate(-20px,-10px);-o-transform:translate(-20px,-10px);transform:translate(-20px,-10px);}
	100%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);}
}
@-webkit-keyframes cuxian {
	0%{-webkit-transform:scale(0);transform:scale(0);opacity: 1;}
	80%{-webkit-transform:scale(1.2);transform:scale(1.2);}
	100%{-webkit-transform:scale(1);transform:scale(1);opacity: 1;}
}
@-moz-keyframes cuxian {
	0%{-moz-transform:scale(0);transform:scale(0);opacity: 1;}
	80%{-moz-transform:scale(1.2);transform:scale(1.2);}
	100%{-moz-transform:scale(1);transform:scale(1);opacity: 1;}
}
@-o-keyframes cuxian {
	0%{-o-transform:scale(0);transform:scale(0);opacity: 1;}
	80%{-o-transform:scale(1.2);transform:scale(1.2);}
	100%{-o-transform:scale(1);transform:scale(1);opacity: 1;}
}
@keyframes cuxian {
	0%{-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0);opacity: 1;}
	80%{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
	100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity: 1;}
}
@-webkit-keyframes beechuxian {
	0%{-webkit-transform:scale(0);transform:scale(0);opacity: 1;}
	30%{-webkit-transform:scale(1.2);transform:scale(1.2);}
	40%{-webkit-transform:scale(1);transform:scale(1);opacity: 1;}
	60%{-webkit-transform:scale(1);transform:scale(1);opacity: 1;}
	70%{-webkit-transform:scale(1.2);transform:scale(1.2);}
	100%{-webkit-transform:scale(0);transform:scale(0);opacity: 0;}
}
@-moz-keyframes beechuxian {
	0%{-moz-transform:scale(0);transform:scale(0);opacity: 1;}
	30%{-moz-transform:scale(1.2);transform:scale(1.2);}
	40%{-moz-transform:scale(1);transform:scale(1);opacity: 1;}
	60%{-moz-transform:scale(1);transform:scale(1);opacity: 1;}
	70%{-moz-transform:scale(1.2);transform:scale(1.2);}
	100%{-moz-transform:scale(0);transform:scale(0);opacity: 0;}
}
@-o-keyframes beechuxian {
	0%{-o-transform:scale(0);transform:scale(0);opacity: 1;}
	30%{-o-transform:scale(1.2);transform:scale(1.2);}
	40%{-o-transform:scale(1);transform:scale(1);opacity: 1;}
	60%{-o-transform:scale(1);transform:scale(1);opacity: 1;}
	70%{-o-transform:scale(1.2);transform:scale(1.2);}
	100%{-o-transform:scale(0);transform:scale(0);opacity: 0;}
}
@keyframes beechuxian {
	0%{-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0);opacity: 1;}
	30%{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
	40%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity: 1;}
	60%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity: 1;}
	70%{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
	100%{-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0);opacity: 0;}
}
@-webkit-keyframes huojian {
	0%{-webkit-transform:translate(0,0);transform:translate(0,0);}
	100%{-webkit-transform:translate(100px,-600px);transform:translate(100px,-600px);}
}
@-moz-keyframes huojian {
	0%{-moz-transform:translate(0,0);transform:translate(0,0);}
	100%{-moz-transform:translate(100px,-600px);transform:translate(100px,-600px);}
}
@-o-keyframes huojian {
	0%{-o-transform:translate(0,0);transform:translate(0,0);}
	100%{-o-transform:translate(100px,-600px);transform:translate(100px,-600px);}
}
@keyframes huojian {
	0%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);}
	100%{-webkit-transform:translate(100px,-600px);-moz-transform:translate(100px,-600px);-o-transform:translate(100px,-600px);transform:translate(100px,-600px);}
}
@-webkit-keyframes znyx {
	0%{-webkit-transform:translate(0,0);transform:translate(0,0);}
	50%{-webkit-transform:translate(5px,5px);transform:translate(5px,5px);}
	100%{-webkit-transform:translate(0,0);transform:translate(0,0);}
}
@-moz-keyframes znyx {
	0%{-moz-transform:translate(0,0);transform:translate(0,0);}
	50%{-moz-transform:translate(5px,5px);transform:translate(5px,5px);}
	100%{-moz-transform:translate(0,0);transform:translate(0,0);}
}
@-o-keyframes znyx {
	0%{-o-transform:translate(0,0);transform:translate(0,0);}
	50%{-o-transform:translate(5px,5px);transform:translate(5px,5px);}
	100%{-o-transform:translate(0,0);transform:translate(0,0);}
}
@keyframes znyx {
	0%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);}
	50%{-webkit-transform:translate(5px,5px);-moz-transform:translate(5px,5px);-o-transform:translate(5px,5px);transform:translate(5px,5px);}
	100%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);}
}
@-webkit-keyframes wordin {
	0%{-webkit-transform:translateY(20px);transform:translateY(20px);opacity: 0;}
	100%{-webkit-transform:translateY(-5px);transform:translateY(-5px);opacity: 1;}
}
@-moz-keyframes wordin {
	0%{-moz-transform:translateY(20px);transform:translateY(20px);opacity: 0;}
	100%{-moz-transform:translateY(-5px);transform:translateY(-5px);opacity: 1;}
}
@-o-keyframes wordin {
	0%{-o-transform:translateY(20px);transform:translateY(20px);opacity: 0;}
	100%{-o-transform:translateY(-5px);transform:translateY(-5px);opacity: 1;}
}
@keyframes wordin {
	0%{-webkit-transform:translateY(20px);-moz-transform:translateY(20px);-o-transform:translateY(20px);transform:translateY(20px);opacity: 0;}
	100%{-webkit-transform:translateY(-5px);-moz-transform:translateY(-5px);-o-transform:translateY(-5px);transform:translateY(-5px);opacity: 1;}
}
@-webkit-keyframes wordout {
	0%{-webkit-transform:translateY(-5px);transform:translateY(-5px);opacity: 1;}
	100%{-webkit-transform:translateY(-20px);transform:translateY(-20px);opacity: 0;}
}
@-moz-keyframes wordout {
	0%{-moz-transform:translateY(-5px);transform:translateY(-5px);opacity: 1;}
	100%{-moz-transform:translateY(-20px);transform:translateY(-20px);opacity: 0;}
}
@-o-keyframes wordout {
	0%{-o-transform:translateY(-5px);transform:translateY(-5px);opacity: 1;}
	100%{-o-transform:translateY(-20px);transform:translateY(-20px);opacity: 0;}
}
@keyframes wordout {
	0%{-webkit-transform:translateY(-5px);-moz-transform:translateY(-5px);-o-transform:translateY(-5px);transform:translateY(-5px);opacity: 1;}
	100%{-webkit-transform:translateY(-20px);-moz-transform:translateY(-20px);-o-transform:translateY(-20px);transform:translateY(-20px);opacity: 0;}
}
@-webkit-keyframes arrd {
	0%{-webkit-transform:translateY(-10px);transform:translateY(-10px);opacity: 1;}
	100%{-webkit-transform:translateY(10px);transform:translateY(10px);opacity: .4;}
}
@-moz-keyframes arrd {
	0%{-moz-transform:translateY(-10px);transform:translateY(-10px);opacity: 1;}
	100%{-moz-transform:translateY(10px);transform:translateY(10px);opacity: .4;}
}
@-o-keyframes arrd {
	0%{-o-transform:translateY(-10px);transform:translateY(-10px);opacity: 1;}
	100%{-o-transform:translateY(10px);transform:translateY(10px);opacity: .4;}
}
@keyframes arrd {
	0%{-webkit-transform:translateY(-10px);-moz-transform:translateY(-10px);-o-transform:translateY(-10px);transform:translateY(-10px);opacity: 1;}
	100%{-webkit-transform:translateY(10px);-moz-transform:translateY(10px);-o-transform:translateY(10px);transform:translateY(10px);opacity: .4;}
}
@-webkit-keyframes zhangzi {
	0%{-webkit-transform:scale(4);transform:scale(4);opacity: .4;}
	100%{-webkit-transform:scale(1);transform:scale(1);opacity: 1;}
}
@-moz-keyframes zhangzi {
	0%{-moz-transform:scale(4);transform:scale(4);opacity: .4;}
	100%{-moz-transform:scale(1);transform:scale(1);opacity: 1;}
}
@-o-keyframes zhangzi {
	0%{-o-transform:scale(4);transform:scale(4);opacity: .4;}
	100%{-o-transform:scale(1);transform:scale(1);opacity: 1;}
}
@keyframes zhangzi {
	0%{-webkit-transform:scale(4);-moz-transform:scale(4);-o-transform:scale(4);transform:scale(4);opacity: .4;}
	100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity: 1;}
}
@-webkit-keyframes bacloading {
	0%{opacity: 1;}
	100%{opacity: 0;display: none;}
}
@-moz-keyframes bacloading {
	0%{opacity: 1;}
	100%{opacity: 0;display: none;}
}
@-o-keyframes bacloading {
	0%{opacity: 1;}
	100%{opacity: 0;display: none;}
}
@keyframes bacloading {
	0%{opacity: 1;}
	100%{opacity: 0;display: none;}
}
@-webkit-keyframes loading {
	0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	100%{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
}
@-moz-keyframes loading {
	0%{-moz-transform:rotate(0deg);transform:rotate(0deg);}
	100%{-moz-transform:rotate(180deg);transform:rotate(180deg);}
}
@-o-keyframes loading {
	0%{-o-transform:rotate(0deg);transform:rotate(0deg);}
	100%{-o-transform:rotate(180deg);transform:rotate(180deg);}
}
@keyframes loading {
	0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
	100%{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
}





























































