.foo {
 display: -webkit-flex;
 display: -ms-flexbox;
 display: -webkit-box;
 display: flex;
 background: -webkit-linear-gradient(top, white, black);
 background: linear-gradient(to bottom, white, black)
}
.cc{
	display: inline-block;
	-webkit-transition:all 1s ease-in-out;
	        transition:all 1s ease-in-out;
	word-wrap: break-word;
}
.ddd{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.c{
	width: 20px;
	height: 20px;
	background: #CCC;
	position: absolute;
	left: 500px;
	top: 100px;
	-webkit-animation:mymove 5s linear;
	        animation:mymove 5s linear;
}
@-webkit-keyframes mymove{
	0%{left: 500px;top: 100px;}
	20%{-webkit-transform:rotate(15deg);transform:rotate(15deg);}
	40%,80%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	60%{-webkit-transform:rotate(-15deg);transform:rotate(-15deg);}
	100%{left: 0px;-webkit-transform:rotate(15deg);transform:rotate(15deg);top: 0px;}
}
@keyframes mymove{
	0%{left: 500px;top: 100px;}
	20%{-webkit-transform:rotate(15deg);transform:rotate(15deg);}
	40%,80%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	60%{-webkit-transform:rotate(-15deg);transform:rotate(-15deg);}
	100%{left: 0px;-webkit-transform:rotate(15deg);transform:rotate(15deg);top: 0px;}
}